# Dependencies
node_modules/

# Playwright output
playwright-report/
test-results/

# Allure output (generated locally)
allure-results/
allure-report/

# OS
.DS_Store

# TypeScript build output
dist/

# Environment
.env
